.App-header {
  background-color: #004033;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header p {
  color: #fff;
  font-size: 38px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  margin-bottom: 25px;
}
.header input {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 45px;
  border: 2px solid #008033;
  border-radius: 8px;
  outline: none;
  color: #606060;
}
.header button {
  width: 95px;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  cursor: pointer;
  background: #00a868;
}
.header button:hover {
  box-shadow: 1px 1px 4px #008010;
}

.main {
  width: 80vw;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 250px;
  background: #00a868;
  margin: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #008033;
  text-align: center;
}
